.checkout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,0.1); 
    backdrop-filter:blur(6px);
    position:fixed;
    top:0;
    left:0;
    pointer-events: all;
}
.checkout .checkoutContainer {
    background: white;
    width:30%;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.checkout .checkoutContainer h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    letter-spacing: -.15rem;
}

.checkout .checkoutContainer h1:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
    letter-spacing: -.15rem;
}
.checkout .checkoutContainer img {
    width:200px;
}
.checkout .checkoutContainer .buttonsContainer {
    display: flex;
    flex-direction:row;
    margin-top: 1rem;
}
.checkout .checkoutContainer .checkoutButton {
    width: 50%;
    height: 60px;
    background: #00bcd4;
    border: none;
    text-transform:uppercase;
    font-size: 1.2rem;
    color:white;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 1rem;
    letter-spacing:-.1rem;
}
.checkout .checkoutContainer .checkoutButton:hover {
    background: #f2f2f2;
    color: #000;
}
.checkout .checkoutContainer .exitButton {
    width: 50%;
    height: 60px;
    background: #FFD81B;
    border: none;
    color: black;
    text-transform:uppercase;
    font-size: 1.2rem;
    font-weight: lighter;
    cursor: pointer;
    letter-spacing:-.1rem;
    margin-top: 1rem;
}
.checkout .checkoutContainer .exitButton:hover {
    background: #f2f2f2;
}


@media screen and (min-width:300px) and (max-width: 1201px) {

    .checkout .checkoutContainer{
        width:100%;
        justify-content:center;
        height:60vh;
    }

}
